<div class="row" style="height: 500px; margin-top: 100px">
  <div class="col-4 mx-auto">
    <form>
      <div class="">
        <label for="name" class="form-label">Name</label>
        <input
          ng-model="formData.name"
          type="text"
          class="form-control"
          id="name"
        />
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input
          ng-model="formData.city"
          type="text"
          class="form-control"
          id="city"
        />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input
          ng-model="formData.age"
          type="number"
          class="form-control"
          id="age"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          ng-model="formData.email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          ng-model="formData.password"
        />
      </div>

      <button type="submit" class="btn btn-primary" ng-click="signup()">
        Sign Up
      </button>
      <br />
      <a href="#!/login">Already have an account yet? Sign In</a>
    </form>
  </div>
</div>
